<br><br><br><br>
<h1 class="aboutme-h1" style="text-align: center;"><span class="glyphicon glyphicon-info-sign" area-hidden="true"></span> About Me</h1>

<div class="container">
  <div class="row showcase stm-font">
    <div class="col-sm-4 hidden-xs">
      <div class="well shadow up-hover color-hover">
        <h1><i class="fa fa-lightbulb-o"></i></h1>
        <h2>Creative</h2>
      </div>	
    </div>
    <div class="col-sm-4 hidden-xs">
      <div class="well shadow up-hover color-hover">
        <h1 ><i class="fa fa-pencil-square-o"></i></h1>
        <h2>Passionate</h2>
      </div>	
    </div>
    <div class="col-sm-4 hidden-xs">
      <div class="well shadow up-hover color-hover">
        <h1 ><i class="fa fa-code"></i></h1>
        <h2 >Development</h2>
      </div>
    </div>
  </div>
  
  <div class="row bio-container">
    <div class="col-sm-4 ">
      <img src="/images/jun_avatar.png" alt="description" title="tool tip" class="img-circle shadow up-hover avatar">
    </div>
    <div class="col-sm-8 ">
      <h2 class="text-primary stm-font">Bio</h2>
      <p>A full stack developer passionate about programing and technological development. I am looking forward to applying my knowledge, problem solving and creativity to create entertaining and easily accessible website!</p>
      <h2 class="text-primary stm-font">Skills</h2>
      <p><strong>Web Developing:</strong> HTML, CSS, JavaScript, jQuery, Bootstrap, Node.js, MySQL, MySQL2, Express, Sequelize, NoSQL</p>
      <p><strong>Machine Learning:</strong> Python, MATLAB</p>
      <p><strong>General:</strong> Github, Git</p>
    </div>
  </div>

  <br><br><br><br>
  <div class="btn-2">
    <a href="/projects"><span class="project-text" style="font-size: 30px;">Yay! Have Fun!</span></a>
  </div>
</div>

<br><br>

