<div class="comments">

  <h2 class="comment-header">Leave a comment</h2>

  <form class="comments__form">
    <div class="comments__form-info">

      <div class="comments__form-field">
        <input id="comments__form-label-name" name="author" placeholder="Name" type="text" class="comments__form-input">
        <label class="comments__form-label" for="comments__form-label-name">
          <span class="comments__form-label-text">Name</span>
        </label>
      </div>

      <div class="comments__form-field">
        <input id="comments__form-label-mail" name="author" placeholder="E-mail" type="text" class="comments__form-input">
        <label class="comments__form-label" for="comments__form-label-mail">
          <span class="comments__form-label-text">E-mail</span>
        </label>
      </div>

      <div class="comments__form-field">
        <input id="comments__form-label-interest" name="interests" list="interests" placeholder="Interests" class="comments__form-input">
        <datalist id="interests">
          <option value="Group Projects">
          <option value="Personal Projects">
          <option value="General">
        </datalist>
        <label class="comments__form-label" for="comments__form-label-site">
          <span class="comments__form-label-text">Interests</span>
        </label>
      </div>

    </div>

    <div class="comments__form-text">
      
      <div class="comments__form-field">
        <textarea id="comments__form-label-text" name="author" placeholder="Express your thoughts" type="text" class="comments__form-input comments__form-textarea"></textarea>
        <label class="comments__form-label" for="comments__form-label-text">
          <span class="comments__form-label-text">Express your thoughts</span>
        </label>
      </div>

    </div>
      <input name="submit" type="submit" id="submit" class="comments__form-submit" value="Post Comment">
  </form>
    
    <div class="comments__list">
      <!-- Comments --> 
    </div>
</div>

<script src="/js/comments.js"></script>

{{#if comments.length}}
{{#each comments as |comment|}}
<h1>{{comment.name}}</h1>
<h2>{{comment.email}}</h2>
<h3>{{comment.interests}}</h3>
<h3>{{comment.reviews}}</h3>
{{/each}}
{{/if}}