<div class="home-container">
  <div class="row">
    <div class="col-sm-12 head">
      <br><br><br>
      <div class="home-logo">
        <img src="./images/jun_logo.jpg" alt="Jun's Logo" />
      </div>
      <h1>Welcome to Jun's Portfolio</h1>
      <div class="row">
        <nav>
          <ul class="list-inline links ">
            <li><a class="btn btn-default btn-lg" href="https://github.com/zzangu0215" title="Jun on Github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/junnyzzangu/"  title="Jun LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="btn btn-default btn-lg" href="https://www.instagram.com/o0ojunny/"  title="Jun on Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>		
        </nav>
      </div>
      <br>
      <h2>Thank you for coming in!</h2>
      <h2>My name is Jun Park, a motivated <br>Full Stack Web Developer.</h2>
      <h2>I know you are already interested in <br>me or my projects, but wait a second!</h2>
      <h2>Take a deep breath, I'll walk you through.<br>You are going to have fun!<br><br></h2>
      <h2>ARE YOU READY?</h2>

      <br><br><br><br>
      <div class="wrapper">
        <a href="/aboutme">
          <button class="follow-me">
            Follow Me! 
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>