<br><br><br><br>
<h1 class="projects-h1" style="text-align: center;"><span class="glyphicon glyphicon-book" area-hidden="true"></span>Projects & Works</h1>

<div class="option-container">
  <div class="option-card">
    <div class="option-box">
      <div class="option-content">
        <h3>Group Projects</h3>
        <p>Communications with the teammates is as important as a personal ability. <br>Check out my amazing group works with amazing teammates!</p>
        <a href="/group-projects">Explore Group Projects</a>
      </div>
    </div>
  </div>

  <div class="option-card">
    <div class="option-box">
      <div class="option-content">
        <h3>Personal Projects</h3>
        <p>My creativeness, passions, and development skills are incorporated into the personal projects. <br>Check out my applications here!</p>
        <a href="/personal-projects">Explore Personal Projects</a>
      </div>
    </div>
  </div>

  <div class="option-card">
    <div class="option-box">
      <div class="option-content">
        <h3>Comments</h3>
        <p>Many visitors already left their thoughts about my portfolio! <br>Your opinion is important too! <br>Check it out!</p>
        <a href="/comments">Read More</a>
      </div>
    </div>
  </div>
</div>
