body {
  background-image: url("../images/random-grey-variations.png");
  background-repeat: repeat;
  position: relative;
  font-family: "Share Tech Mono", monospace;
}

/* projects page */
.thumbnail {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.shadow {
  box-shadow: 7px 7px 7px #666;
  position: relative;
  transition: all 0.2s;
  top: 0;
}

.cust-caption {
  display: none;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 10px;
  color: #ddd;
  margin: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  margin: 5px;
  overflow-y: auto;
}

.up-hover:hover {
  top: -5px;
  box-shadow: 15px 15px 15px #777;
}

.cust-caption a {
  color: white;

  text-shadow: 1px 1px 2px black;
}

/* navbar */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.this-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: rgb(17, 17, 17);
  color: white;
  opacity: 0.85;
  z-index: 100;
  font-family: "Satisfy", cursive;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  /* font-size: 2.3rem; */
  padding: 3px;
  height: 50px;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  font-family: "Satisfy", cursive;
}

.navbar a {
  color: rgb(245, 241, 241);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-family: "Satisfy", cursive;
}

.navbar a:hover {
  color: #117964;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(245, 241, 241);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: rgb(17, 17, 17);
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    font-family: "Satisfy", cursive;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Satisfy", cursive;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    font-family: "Satisfy", cursive;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

/* home page */
.home-container {
  background-image: url("../images/main_background.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
}

.home-logo {
  padding-top: 50px;
}

.home-logo img {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.head h1,
h2 {
  color: white;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.follow-me {
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #242323 50%, #555354 50%);
  border-style: none;
  color: white;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.follow-me span {
  position: absolute;
  display: block;
}
.follow-me span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
.follow-me span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
.follow-me span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.follow-me span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.follow-me:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.follow-me:hover span {
  animation-play-state: paused;
}

/* about me page */

.aboutme-h1 {
  text-align: center;
}

/* leave a comment form */

.comment-header {
  color: #111;
  font: 900 1.75em "Roboto", "Open Sans", "Helvetica Neue", "Arial",
    "sans-serif";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.comment-header::after {
  content: "";
  display: block;
  width: 2em;
  height: 0.25em;
  background: #111;
  margin-top: 0.5em;
}

.comments {
  position: relative;
  width: 70%;
  background: #fff;
  margin: auto;
  padding: 27px;
  box-sizing: border-box;
  top: 5em;
}

.comments::after {
  content: " ";
  display: table;
  clear: both;
}

.comments__form-info,
.comments__form-text {
  width: 100%;
  margin: 0;
}

.comments__form-info {
  float: left;
}
.comments__form-text {
  float: right;
}

.comments__form-field {
  position: relative;
}
.comments__form-label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font: 700 1.125em "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  cursor: text;
  pointer-events: none;
}

.comments__form-label-text {
  display: block;
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.comments__form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.comments__form-input:focus + .comments__form-label .comments__form-label-text {
  transform: translateY(0);
  opacity: 1;
}

.comments__form-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #111;
  bottom: 1em;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.comments__form-input:focus + .comments__form-label::after {
  transform: scaleX(1);
}

.comments__form-input {
  position: relative;
  width: 100%;
  padding: 1em 0;
  border: 0;
  outline: 0;
  margin: 1em 0;
  border-bottom: 3px solid #ddd;
  vertical-align: bottom;
  font: 400 1.125em "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
}

.comments__form-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 168px;
}

.comments__form-submit {
  padding: 0.5em;
  margin: 1em 0;
  background: none;
  border: 3px solid #111;
  font: 700 1em "Open Sans", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  opacity: 0.25;
}

.comments__form-submit:hover {
  opacity: 1;
}

@media only screen and (min-width: 1020px) {
  .comments {
    width: 970px;
    padding: 52px;
  }

  .comments__form-info,
  .comments__form-text {
    width: 407px;
  }
}

/* comments page */

.main-container {
  padding: 30px;
}

.heading {
  text-align: center;
}

.review-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background-color: darkgray;
}

.review-card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.review-card__link,
.review-card__exit,
.review-card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.review-card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.review-card__link:hover::after {
  width: 100%;
}

.review-card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.review-card__icon {
  /* grid-row: 2/3; */
  font-size: 30px;
}

.review-card__title {
  grid-row: 3/4;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.review-interests {
  text-align: right;
  font-size: 20px;
  color: gold;
  font-weight: bolder;
}

.review-card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* review-card BACKGROUNDS */

@media (max-width: 1600px) {
  .review-cards {
    justify-content: center;
  }
}
